:root {
  --bg-col: #ffffff;
  --ff-col: #000000;
  --shadow-profile-col: #4c8353;
  --cpts-link-col: #50c05f;
  --title-ff: "Roboto Mono", monospace;
  --ff: "Courier Prime", monospace;
  --ff-size: 0.9rem;
}

html,
body {
  background-color: var(--bg-col);
  font-family: var(--ff);
  color: var(--ff-col);
  width: 100vw;
  letter-spacing: 0.5px;
}

body {
  padding: 100px;
  box-sizing: border-box;
}

.cpts > a, .cpts > a:hover {
  font-weight: 800;
  color: var(--cpts-link-col);
}

.p-body {
  margin-top: 20px;
}

.pwn-flag {
  width: 30px;
  height: auto;
}

a, a:visited, a:hover, a:active {
  color: var(--ff-col);
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: var(--title-ff);
  font-size: 2rem;
  letter-spacing: 2px;
}

h2 {
  font-family: var(--title-ff);
}

li {
  padding: 5px;
}

.photo {
  position: absolute;
  width: 200px;
  height: auto;
  right: -250px;
  top: -42px;
  box-shadow: 10px 10px 0px 2px var(--shadow-profile-col);
}

.wrapper {
  display: flex;
}

.bio-wrapper {
  position: relative;
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  line-height: 1.4rem;
}

.short-bio {
  text-align: justify;
  margin-top: 40px;
  font-family: var(--ff);
  color: var(--ff-col);
  font-size: var(--ff-size);
  z-index: 1;
}

.skills {
  font-size: var(--ff-size);
  margin-top: 40px;
  padding-right: 10px;
}

.skills span {
  font-weight: 700;
}

.projects {
  margin-top: 40px;
  border-right: 1px solid var(--ff-col);
  padding-right: 10px;
}

.projects > h2:not(:first-child) {
  margin-top: 40px;
  margin-bottom: 5px;
}
.projects li {
  font-size: var(--ff-size);
}

.contacts-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 25px;
  right: 40px;
  margin-left: 40px;
}
.contacts-wrapper > a {
  margin-left: 20px;
  margin-top: -2px;
  font-size: var(--ff-size);
}
.contacts-wrapper > a:nth-child(2) {
  margin-left: 10px;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
  }

  body {
    padding: 25px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .bio-wrapper {
    flex-basis: 100%;
  }

  .contacts-wrapper {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    margin-top: 40px;
    bottom: unset;
    right: unset;
    margin-left: unset;
  }

  .photo {
    display: none;
  }
}
